In [18]:
def par_impar(a,b=2):

  suma = a+b

  if type (a) == int and type(b) == int:
   if suma % 2 == 0:
    print(f"El número {suma} es par.")
   else:
    print(f"El número {suma} es impar.")
  else:
    print(f"Los datos integrados deben ser enteros")

In [19]:
par_impar(4,8)

El número 12 es par.

In [5]:
MiVariable = 4 #upper camel case
miVariable = 2 #lower camel case
mi_variable = 1 #snake case

In [29]:
def div_sum_entero (a, b, c):

  if type (a) == int and type(b) == int and type(c) == int:
    suma = a+b
    if c!=0:
      print(suma/c)
    else:
      print("No es posible ejecutar")
  else:
    print("Todos los números deben ser enteros")

In [30]:
div_sum_entero (6,9,3)

5.0